@import "../common/variables.css";
@import "../common/text.css";
@import "../common/layout.css";
@import "../components/buttons.css";
@import "../components/header.css";
@import "../components/footer.css";
@import "../components/form.css";
@import "../components/triangle.css";

main h2 {
  font-family: Good-Times, Helvetica, Arial, sans-serif;
}

main p {
  color: var(--text-white);
  font-weight: lighter;
}

#whoWeAre a {
  text-decoration: none;
}

#whoWeAre ul {
  list-style-type: none;
  position: absolute;
  right: 445px;
  top: 360px;
}

#whoWeAre {
  background-image: url("../../images/who-we-are.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  min-height: 500px;
  width: 100%;
}

#WhoWeAre p {
  color: var(--icon-color);
}

#slogan {
  font-family: oswald, sans-serif;
  font-size: 1.4rem;
  color: var(--secondary);
  text-transform: uppercase;
  position: absolute;
  bottom: 36%;
  right: 10px;
}

#ourHistory {
  padding: 50px;
  background-color: var(--primary);
  background-image: url("../../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

#ourHistory .section-content {
  margin: 0 auto 0 200px;
  background-color: #00000099;
  max-width: 30rem;
}

#ourHistory p {
  color: var(--text-white);
}

#ourValuesAndVision {
  background-color: var(--bg-3);
  width: 100%;
}

.triangle-frame-dark {
  position: absolute;
  bottom: 0px;
  right: 14rem;
  height: 100%;
}

.triangle-frame-dark svg {
  height: 100%;
  width: auto;
}

.triangle-frame-blue {
  position: absolute;
  right: 9rem;
  height: 100%;
  overflow: hidden;
}

.triangle-frame-blue svg {
  width: auto;
  height: 60%;
}

.triangle-frame-blue svg path {
  fill: var(--icon-color);
}

.triangle-blue {
  position: absolute;
  height: 25rem;
  width: 25rem;
  top: -30rem;
  left: -8rem;
  background-color: var(--icon-color);
}

.slogan p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#sloganMotivate {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 15rem;
}

#sloganMotivate p {
  color: var(--secondary);
}

#sloganMotivate p span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

#sloganFreedom {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 60%;
}

#sloganFreedom p {
  background-color: var(--icon-color);
  color: var(--bg-2);
  font-size: 1rem;
}

#sloganFreedom p span {
  font-weight: bold;
}

#sloganSolid {
  position: absolute;
  top: 12rem;
  right: 0rem;
  width: 16rem;
}

#sloganSolid p {
  color: var(--text-white);
  text-align: left;
  font-size: 1rem;
}

#sloganSolid p span {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
  #ourValuesAndVision h2 {
    max-width: 500px;
    margin: 0.8rem auto;
  }

  #ourValuesAndVision .story-text {
    margin: 0 auto;
  }

  #ourHistory .story-text {
    column-count: 1;
  }

  .slogans {
    width: 60rem;
    margin: 0 auto;
    position: relative;
  }

  .triangle-frame-dark {
    display: inline-block;
    position: relative;
    right: 0;
    width: 30rem;
    max-width: 100%;
    height: 26rem;
  }

  .triangle-frame-dark svg {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: -3px;
    z-index: 1;
  }

  #sloganMotivate {
    z-index: 1;
  }

  .triangle-frame-blue {
    position: relative;
    width: 25rem;
    height: 24rem;
    right: 0;
    overflow: visible;
    display: inline-block;
  }

  .triangle-frame-blue svg {
    width: 27rem;
    height: auto;
    position: absolute;
    bottom: -3px;
    left: -5rem;
  }

  #sloganFreedom {
    bottom: 20px;
    top: inherit;
    left: calc(50% - 4rem);
  }

  #sloganSolid {
    position: absolute;
    top: 0rem;
    left: 20rem;
    width: 16rem;
  }
}

@media screen and (max-width: 992px) {
  #whoWeAre {
    background: none;
  }

  #whoWeAre .section-content {
    margin: 0 auto;
    max-width: 45rem;
  }

  #ourHistory .section-content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  #whoWeAre .section-content {
    max-width: 30rem;
  }

  #whoWeAre .story-text,
  #ourValuesAndVision .story-text {
    column-count: 1;
  }

  .slogans {
    width: 30rem;
    max-width: 100%;
  }

  .triangle-frame-blue {
    position: absolute;
    width: 10rem;
    top: 0;
    right: 0;
  }

  .triangle-frame-blue svg {
    display: none;
  }

  #sloganFreedom {
    position: inherit;
    transform: inherit;
  }

  #sloganFreedom p {
    color: var(--text-white);
    background-color: inherit;
    text-align: right;
    width: 9rem;
  }

  #sloganFreedom span {
    font-size: 1.5rem;
  }

  #sloganSolid {
    left: 1rem;
    width: 9rem;
  }

  #ourHistory {
    padding: 20px;
  }
}
