#contact-us-banner{
  background-image: url("../../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  min-height: 100px;
  width: 100%;
}

#contact-us-banner h1{
  color: var(--bg-2);
  font-size: 2rem;
  padding: 2rem 0 0 4rem;
}

#contactPage {
  width: 100%;
}

#contactPage h2 {
  color: var(--secondary);
}

#contactPage p,
#contactPage a {
  color: var(--text-white);
  font-weight: normal;
}

#contactPage .section-content{
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-3);
}

#contactPage .section-content > div{
  max-width: 500px;
  margin: 0 auto;
}

#contactPage .section-content section{
  width: 100%;
  max-width: 450px;
  margin: 40px 0;
}

#contactPage .section-content h2,
#contactPage .section-content p{
  max-width: 300px;
}

@media screen and (min-width: 599px) {
  #contact-us-banner{
    min-height: 200px;
  }
}

@media screen and (min-width: 992px) {
  #contact-us-banner{
    min-height: 300px;
  }

  #contactPage .section-content > div{
    max-width: 1000px;
  }

  #contactPage .section-content h2{
    margin: 0 0 20px 0;
  }

  .tablet-left{
    float: left;
  }

  .tablet-right{
    float: right;
  }
}