#welcome {
  position: relative;
  background-image: url("../../images/friendsOnAdventure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  min-height: 700px;
  width: 100%;
}

#welcome h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 2.75rem;
  font-weight: bold;
  margin: 100px 0 0 0;
}

#welcome .collection-title {
  max-width: 20rem;
  float: right;
}

#welcome .section-content,
#welcome .split-50 {
  position: static;
}

#welcome .collection-button {
  position: absolute;
  right: 0;
  bottom: 5rem;
}

#welcome .collection-button a {
  margin: 10px;
  margin-right: 20px;
  width: 20rem;
  display: flex;
}

#welcome p {
  font-size: 1.6rem;
  color: var(--primary);
  font-family: oswald, sans-serif;
  text-transform: uppercase;
}

#bestsellers {
  background-color: var(--bg-primary);
  width: 100%;
  position: relative;
}

#bestsellers > svg {
  display: none;
}

#bestsellers h2 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding-top: 15px;
}

#bestsellers .space {
  min-width: 1px;
  min-height: 20px;
}

#bestsellers .jacket-slider-wrapper {
  width: 100%;
  overflow: hidden;
}

#bestsellers .jacket-slider-wrapper .jacket-slider {
  display: flex;
  flex-wrap: nowrap;
  animation: slide-left 0.5s forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}

#bestsellers #slide-right:checked ~ .jacket-slider-wrapper .jacket-slider {
  animation: slide-right 0.5s forwards;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400px);
  }
}

#bestsellers .jacket-box {
  background-color: white;
  font-weight: normal;
  font-style: normal;
  flex: 0 0 200px;
  margin: 0 10px;
}

#bestsellers .controls {
  margin: 0 auto;
  width: fit-content;
  position: relative;
  z-index: 2;
}

#bestsellers .controls > * {
  vertical-align: middle;
}

#bestsellers .controls > label {
  display: inline-block;
  height: 4rem;
}

#bestsellers .controls svg {
  height: 100%;
  width: auto;
}

#bestsellers .controls > label:hover ellipse,
#bestsellers .controls > label:focus ellipse {
  fill: var(--secondary);
}

#bestsellers .controls > p {
  display: inline-block;
  width: 30rem;
  max-width: 60vw;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: var(--primary);
}

@media screen and (min-width: 800px) {
  #welcome .collection-title {
    max-width: inherit;
    float: none;
  }

  #welcome .collection-button {
    position: static;
  }

  #welcome .collection-button a {
    margin: 10px;
    width: 14rem;
    display: inline-flex;
  }
}

@media screen and (min-width: 992px) {
  #bestsellers h2 {
    text-align: left;
    font-size: 3rem;
    position: absolute;
    z-index: 1;
    left: 1rem;
    bottom: 1rem;
    padding: 1rem;
    color: var(--bg-primary);
  }

  #bestsellers .jacket-box {
    flex: 0 0 300px;
  }

  #bestsellers > svg {
    display: block;
    position: absolute;
    height: 80%;
    width: auto;
    left: 0;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
  }
}
