#welcome {
  position: relative;
  background-image: url("../../images/friendsOnAdventure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  min-height: 700px;
  width: 100%;
}

#welcome h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 2.75rem;
  font-weight: bold;
  margin: 100px 0 0 0;
}

#welcome .collection-title {
  max-width: 20rem;
  float: right;
}

#welcome .section-content,
#welcome .split-50 {
  position: static;
}

#welcome .collection-button {
  position: absolute;
  right: 0;
  bottom: 5rem;
}

#welcome button {
  margin: 10px;
  margin-right: 20px;
  width: 20rem;
  display: flex;
}

#welcome p {
  font-size: 1.6rem;
  color: var(--primary);
  font-family: oswald, sans-serif;
  text-transform: uppercase;
}

#bestsellers {
  background-color: var(--bg-primary);
  width: 100%;
  min-height: 600px;
}

#bestsellers .jacket-box {
  background-color: white;
  display: inline-block;
  margin: 5px;
}

#bestsellers .jacket-box > div {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.jacket-slider {
  grid-template-columns: auto auto auto auto;
}

#takeALook {
  background-color: var(--primary);
  width: 100%;
}

#takeALook .split-60 {
  background-image: url("../../images/woman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 300px;
}

#takeALook svg {
  position: absolute;
  height: 100%;
  width: auto;
  transform: translateX(-50%);
}

#takeALook .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#takeALook h2 {
  color: var(--secondary);
  position: relative;
  font-size: 3rem;
  width: 30rem;
  margin: 0;
  margin-top: -20px;
}

#takeALook a:hover h2,
#takeALook a:focus h2 {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  #takeALook .section-content {
    min-height: 300px;
  }

  #takeALook h2 {
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  #welcome .collection-title {
    max-width: inherit;
    float: none;
  }

  #welcome .collection-button {
    position: static;
  }

  #welcome button {
    margin: 10px;
    width: 14rem;
    display: inline-flex;
  }
}
