@import '../common/variables.css';
@import '../common/text.css';
@import '../common/layout.css';
@import '../components/buttons.css';
@import '../components/header.css';
@import '../components/footer.css';
@import '../components/form.css';
@import '../components/jacketbox.css';
@import '../components/magazine.css';
@import '../components/instagram.css';
@import '../components/triangle.css';

#welcome {
  position: relative;
  background-color: white;
  background-image: url("../../images/friendsOnAdventure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  min-height: 700px;
  width: 100%;
}

#welcome h2 {
  font-family: Good Times, Helvetica, Arial, sans-serif;
  color: var(--bg-2);
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: bold;
  margin: 100px 0 0 0;
}

#welcome .collection-title {
  max-width: 20rem;
  float: right;
}

#welcome .section-content,
#welcome .split-50 {
  position: static;
}

#welcome .collection-button {
  position: absolute;
  right: 0;
  bottom: 5rem;
}

#welcome .collection-button a {
  margin: 10px;
  margin-right: 20px;
  width: 20rem;
  display: flex;
}

#welcome p {
  font-size: 1.6rem;
  color: var(--primary);
  font-family: oswald, sans-serif;
  text-transform: uppercase;
}

#bestsellers {
  background-color: var(--bg-3);
  width: 100%;
  position: relative;
}

#bestsellers h2 {
  font-family: Good Times, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}

#bestsellers .space {
  min-width: 1px;
  min-height: 20px;
}

.jacket-slider-wrapper {
  width: 100%;
  padding: 20px 0;
}

.jacket-slider-wrapper * {
  box-sizing: border-box;
}

.jacket-slider-wrapper .jacket-slider {
  width: calc(100% - 50px);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.control-previous,
.control-next {
  position: absolute;
  width: 50px;
  height: 50px;
  top:50%;
  background-color: inherit;
  border: 0;
  border-radius: 50%;
}

.controls svg {
  height: 120%;
  width: auto;
  transform: translate(-14%, -5%);
}

.controls svg ellipse{
  fill: var(--primary);;
}

.controls:hover svg ellipse,
.controls:focus svg ellipse{
  fill: var(--secondary);;
}

.control-previous {
  left:0;
}

.control-next {
  right:0;
}

#bestsellers .jacket-box {
  background-color: white;
  font-weight: normal;
  font-style: normal;
  flex: 0 0 200px;
  margin: 0 10px;
}

#bestsellers .controls > p {
  display: inline-block;
  width: 30rem;
  max-width: 60vw;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: var(--text-white);
}

#welcome .collection-button{
  position: static;
  margin: 0 auto;
  width: 250px;
}

@media screen and (max-width: 600px) {
  #welcome {
    background-image: url("../../images/friendsOnAdventureSmall.jpg ");
    background-position-y: center;
    min-height: 500px;
    height: 500px;
  }

  #welcome h2 {
    margin: 0;
  }

  #welcome .collection-title {
    max-width: 40rem;
    float: inherit;
  }

  #welcome .collection-title p{
    margin: 0;
  }

  #welcome > div{
    height: 100%;
    padding: 0;
  }

  #welcome > div > div.center-text{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 420px) {
  #welcome {
    background-position-y: top;
  }
}

@media screen and (min-width: 800px) {
  #welcome .collection-title {
    max-width: inherit;
    float: none;
  }

  #welcome h2 {
    font-size: 3rem;
  }

  #welcome .collection-button {
    position: static;
  }

  #welcome .collection-button a {
    margin: 10px;
    width: 14rem;
    display: inline-flex;
  }

  #bestsellers h2 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 992px) {
  #bestsellers .jacket-box {
    flex: 0 0 300px;
  }
}
