.active {
  border-bottom: 2px solid var(--secondary);
}

.underline {
  border-bottom: 1px solid var(--icon-color);
  padding-bottom: 10px;
}

.info-headders {
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
  font-size: 1.3rem;
}

main h2 path{
  fill: var(--primary);
}

.color-option label > * {
  vertical-align: middle;
  font-weight: normal;
  font-size: 1rem;
}

.color-option input:checked + label span,
.color-option:hover label span{
  font-weight: bold;
} 

.color-option input:checked + label svg,
.color-option:hover label svg{
  height: 1.2rem;
  width: auto;
} 