.active {
  border-bottom: 2px solid var(--secondary);
}

.underline {
  border-bottom: 1px solid var(--icon-color);
  padding-bottom: 10px;
}

.info-headders {
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
  font-size: 1.3rem;
}

main h2 path{
  fill: var(--primary);
}

.grey-card a {
  color: var(--primary)
}

.image-wrapper img {
  height: 100%;
}
