/* 
 * This class hides the content for human eyes,
 * but is still readable by screen readers for 
 * accessebility 
 */

.screen-reader-only {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  clip: rect(0, 0, 1px, 1px) !important;
}

main {
  flex: 1 1 auto;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.section-content {
  position: relative;
  padding: 40px;
}

.story-text {
  margin: 0;
  column-count: 2;
  column-gap: 50px;
  column-width: 50px;
  max-width: 500px;
}

.story-text > p:first-child {
  margin: 0;
}

.story-text .links {
  margin-top: 40px;
}

.story-text .links a {
  display: block;
  margin: 10px 0;
}

.only-content {
  border: 0;
  margin: 0;
  padding: 0;
}

.paragraph-wrapper {
  margin: 1rem 0;
}

.paragraph-wrapper p {
  margin: 0;
}

.split-wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.split-80 {
  position: relative;
  width: 80%;
}

.split-70 {
  position: relative;
  width: 70%;
}

.split-60 {
  position: relative;
  width: 60%;
}

.split-50 {
  position: relative;
  width: 50%;
}

.split-40 {
  position: relative;
  width: 40%;
}

.split-30 {
  position: relative;
  width: 30%;
}

.split-20 {
  position: relative;
  width: 20%;
}

.fixed-background-wrapper {
  position: relative;
}

.fixed-background {
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  position: fixed;
  height: 100%;
  width: 100vw;
}

.main-contentbox {
  position: relative;
  margin: 0 auto;
  width: 80vw;
}

.main-contentbox > h1 {
  padding-top: 25px;
}

.grey-card {
  margin: 50px 0;
  padding: 75px;
  background-color: var(--bg-primary);
}

@media screen and (min-width: 1200px) {
  .big-desktop-hidden {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .desktop-hidden {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .small-desktop-hidden {
    display: none;
  }

  .split-wrapper.small-desktop-block {
    display: block;
  }

  .split-wrapper.small-desktop-block > .split-20,
  .split-wrapper.small-desktop-block > .split-30,
  .split-wrapper.small-desktop-block > .split-40,
  .split-wrapper.small-desktop-block > .split-50,
  .split-wrapper.small-desktop-block > .split-60,
  .split-wrapper.small-desktop-block > .split-70,
  .split-wrapper.small-desktop-block > .split-80 {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 992px) {
  .tablet-hidden {
    display: none;
  }

  .fixed-background-wrapper {
    display: none;
  }

  .main-contentbox {
    width: 100%;
  }

  .grey-card {
    margin: 0;
    padding: 50px;
  }

  .split-wrapper.tablet-block {
    display: block;
  }

  .split-wrapper.column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .split-wrapper.tablet-block > .split-20,
  .split-wrapper.tablet-block > .split-30,
  .split-wrapper.tablet-block > .split-40,
  .split-wrapper.tablet-block > .split-50,
  .split-wrapper.tablet-block > .split-60,
  .split-wrapper.tablet-block > .split-70,
  .split-wrapper.tablet-block > .split-80 {
    width: 100%;
    box-sizing: border-box;
  }

  .image-wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .section-content {
    padding: 20px;
  }

  .split-wrapper.mobile-block {
    display: block;
  }

  .split-wrapper.mobile-block .split-20,
  .split-wrapper.mobile-block .split-30,
  .split-wrapper.mobile-block .split-40,
  .split-wrapper.mobile-block .split-50,
  .split-wrapper.mobile-block .split-60,
  .split-wrapper.mobile-block .split-70,
  .split-wrapper.mobile-block .split-80 {
    width: 100%;
    box-sizing: border-box;
  }

  .split-wrapper.mobile-block > div {
    margin-top: 20px;
  }

  .split-wrapper.mobile-block > div:first-child {
    margin-top: 0;
  }

  .grey-card {
    padding: 20px;
  }
}
