footer {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--bg-2);
  z-index: 1000;
  position: relative;
}

footer p {
  color: var(--bg-primary);
}

footer > div > div {
  margin: 0 auto 40px;
  max-width: 200px;
}

footer a {
  color: var(--text-white);
  font-weight: normal;
}

footer input {
  background-color: var(--primary);
}

@media screen and (min-width: 600px) {
  footer > div > div {
    display: inline-block;
    margin: 0 0 0 40px;
  }
}

@media screen and (min-width: 992px) {
  footer {
    background-image: url("../../images/map.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    padding: 50px;
  }
}
