textarea, input {
  font-size: 1rem;
  color: var(--text-white);
  background-color: var(--bg-2);
  border: none;
  height: 3rem;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 10px;
}

textarea{
  height: 10rem;
}

textarea:focus,
textarea:hover,
input:focus,
input:hover {
  border-radius: 0;
  border: 1px solid var(--secondary);
  outline: none;
}

.input-with-label-wrapper {
  position: relative;
  width: 30rem;
  max-width: 100%;
}

.input-with-label-wrapper label {
  position: absolute;
  left: 0;
  margin: 3px 10px;
  color: var(--text-white);
}

textarea:required + label::after,
input:required + label::after{
  content: "*";
  margin-left: 2px;
  color: var(--sale);
  font-size: 1.2rem;
  vertical-align: middle;
}

.input-with-label-wrapper textarea,
.input-with-label-wrapper input {
  padding: 1rem 10px 0;
  width: 100%;
}

input[type=radio],
input[type=radio] + label{
  vertical-align: middle;
}

fieldset{
  margin: inherit;
  border: 0;
  padding: inherit;
}

.success-message {
  display: none;
}

.form-error p {
  padding-left: 10px;
  color: var(--warning) !important;
  font-size: 0.8rem;
  text-align: left;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .shorter {
    width: 20rem;
  }
}
