#instagram {
  text-align: center;
  background-color: var(--primary);
  width: 100%;
  min-height: 465px;
  position: relative;
  background-image: url("../../images/instagram.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#instagram .section-content > div {
  width: fit-content;
  margin: 0 auto;
  background-color: #00000099;
  padding: 20px;
}

#instagram h2 {
  font-size: 3rem;
  max-width: 30rem;
  font-family: oswald, sans-serif;
  font-weight: normal;
}

#instagram p {
  color: var(--bg-primary);
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#instagram img {
  width: 100%;
  max-width: 50rem;
  height: auto;
}

@media screen and (min-width: 992px) {
  #instagram .section-content > div {
    float: right;
  }
}