#cart {
  background-color: white;
  min-width: 240px;
  padding: 20px;
  text-align: center;
  box-shadow: -3px 3px 6px #0000004d;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cart ul{
  margin: 0;
  padding: 0;
  border: 1px solid var(--icon-color);
  border-width: 1px 0 0 0;
}

#cart li {
  display: block;
  text-align: center;
  border: 1px solid var(--icon-color);
  border-width: 0 0 1px 0;
}

#cart li h3 svg path{
  fill: var(--primary);
}

#cart img {
  max-height: 300px;
  object-fit: contain;
}

.payment-overview p {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.payment-overview > div {
  border: 1px solid var(--icon-color);
  border-width: 1px 0 0 0;
}

#doubble-line {
  border: 1px solid var(--icon-color);
  border-width: 1px 0;
  height: 2px;
  width: 100%;
}

.price-line{    
  width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#cart .jacket-colors {
  text-align: left;
  margin: 0 auto;
  width: fit-content;
}

.jacket-colors > label {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  margin: 5px 10px;
  text-align: left;
}

.jacket-sizes > label {
  display: inline-block;
  background-color: white;
  padding-top: 0.7rem;
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
  color: var(--primary);
}

.jacket-sizes input:checked + label,
.jacket-sizes > label:hover {
  background-color: var(--primary);
  color: white;
}

.color-option label > * {
  vertical-align: middle;
  font-weight: normal;
  font-size: 1rem;
}

.color-option input:checked + label span,
.color-option:hover label span{
  font-weight: bold;
  text-decoration: underline;
} 

.jacket-chekout-info {
  color: var(--primary);
}

.circle {
  background-color: var(--icon-color);
  color: var(--primary);
  padding: 0.3rem 0.7rem;
  border-radius: 50%;
  border: 0px;
}

.circle:hover,
.circle:focus {
  background-color: var(--primary);
  color: var(--icon-color);
}

.one-liner > * {
  display: inline-block;
  vertical-align: middle;
}
