.jacket-box {
  position: relative;
  cursor: pointer;
}

.jacket-box:focus,
.jacket-box:hover{
  border: 2px solid var(--secondary);
}

.jacket-box .image-wrapper {
  text-align: center;
}

.jacket-box img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 50%;
  object-fit: contain;
}

.jacket-box > div {
  padding: 10px;
}

.jacket-box p {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary);
  font-size: 1rem;
}

.jacket-box .price {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
  font-size: 1.3rem;
}

.jacket-box .sale-banner {
  position: absolute;
  padding: 0;
  top: 1.5rem;
  left: -1rem;
  width: fit-content;
  height: 3rem;
  background-color: var(--sale);
  box-shadow: 3px 3px 6px #0000004d;
}

.jacket-box .sale-banner > div {
  display: inline-block;
  padding-left: 1rem;
  padding-top: 0.5rem;
  height: 100%;
  vertical-align: top;
}

.jacket-box .sale-banner > svg {
  height: 100%;
  width: auto;
  transform: translateX(50%);
}

.jacket-box .sale-banner > svg path {
  fill: var(--sale);
}

.jacket-box .sale-banner > div > span {
  color: white;
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: oswald, sans-serif;
  letter-spacing: 1px;
}

@media screen and (min-width: 1200px) {
  .jacket-box .add-to-cart-button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
