#magazine {
  background-color: var(--bg-3);
  width: 100%;
  min-height: 550px;
}

#magazine img {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

#magazine h2 {
  font-family: Good-Times, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.3rem;
  margin: 0;
  color: var(--secondary);
}

#magazine p {
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  color: var(--secondary);
}

#magazine h3 {
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  color: var(--bg-primary);
  font-weight: normal;
  margin: 10px;
}

#magazine a:focus .link,
#magazine a:hover .link {
  color: var(--text-white);
  text-decoration: underline;
}

#magazine .link {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  padding: 10px;
}

.same-height {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#magazine article {
  flex: 1 1 15rem;
  margin: 15px;
  background-color: var(--bg-2);
  width: 23%;
  min-height: 355px;
}

#magazine article a {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#magazine article h3 {
  flex-grow: 1;
}

.triangle-frame {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.triangle-frame svg {
  height: auto;
  width: 20rem;
}

.triangle-frame svg path {
  fill: var(--bg-2);
}

@media screen and (min-width: 800px) {
  .triangle-frame svg {
    height: auto;
    width: 30rem;
  }
  #magazine h2 {
    font-size: 3rem;
  }
}
