/* COMMON STYLE */
html {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  color: #707070;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
/* 
 * This class hides the content for human eyes,
 * but is still readable by screen readers for 
 * accessebility 
 */
.screen-reader-only {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  clip: rect(0, 0, 1px, 1px) !important;
}

.section-content {
  position: relative;
  padding: 40px;
}

.only-content {
  border: 0;
  margin: 0;
  padding: 0;
}
.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.bold {
  font-weight: bold;
}

h1 {
  color: #ca5c43;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 0;
}

a {
  color: #ca5c43;
  font-family: Helvetica, Arial, sans-serif;
  font-style: oblique;
  font-weight: bold;
}

header {
  position: sticky;
  top: 0;
  z-index: 99999;
}

nav {
  display: flex;
  align-items: center;
  background-color: #e9edf2;
  box-shadow: -3px 3px 6px #0000004d;
}
nav .filler {
  flex: 1 1;
}

nav ul {
  flex: 10;
  padding: 0;
  max-width: 650px;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline-block;
}

nav li a:hover {
  color: #ca5c43;
  border-bottom: 2px solid #ca5c43;
}

nav li.active a {
  border-bottom: 2px solid #ca5c43;
}

nav a {
  text-decoration: none;
}

nav .searchbar {
  margin-bottom: -1rem;
}

nav svg {
  height: 1.6rem;
  width: 1.6rem;
}

nav .svg-button {
  box-sizing: border-box;
  height: 2.5rem;
  width: 2rem;
  padding: 3px;
  margin: 0 5px;
  margin-bottom: -1rem;
}
nav .svg-button:hover {
  border-bottom: 2px solid #ca5c43;
}

nav svg:hover path {
  fill: #ca5c43;
}

nav a.logo-link {
  margin: 5px;
}

#Logo {
  height: 5.5rem;
  width: auto;
}

nav div {
  display: inline-block;
}

h2,
nav a {
  color: #3a4754;
  font-size: 1.5rem;
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

#nav-shopping-cart {
  position: relative;
  margin-bottom: -1rem;
}

#cart-circle {
  visibility: hidden;
  position: absolute;
  top: 0.6rem;
  left: 1.4rem;
  background-color: #ca5c43;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding-top: 0.2rem;
  box-sizing: border-box;
  border-radius: 50%;
}

#shopping-cart-visible:checked + label > svg path {
  fill: #3a4754;
}

#shopping-cart-visible:checked ~ #cart-circle {
  visibility: visible;
}

#cart-overlay {
  display: none;
  position: absolute;
  right: 0;
  top: 3rem;
  height: 700px;
  width: 300px;
  background-color: white;
  transform: translateX(100%);
  padding: 30px;
}

#cart-overlay h2 {
  text-align: center;
}

#cart-circle p {
  margin: 0;
  color: #e9edf2;
  font-size: 0.9rem;
}

#shopping-cart-visible:checked ~ #cart-overlay {
  display: block;
  animation: slide-from-right 0.5s forwards;
}

@keyframes slide-from-right {
  100% {
    transform: translateX(0);
  }
}

#overlay {
  display: none;
  position: fixed;
  top: -10vh;
  left: -100vw;
  width: 200vw;
  height: 120vh;
  background-color: black;
  opacity: 0.5;
}

#shopping-cart-visible:checked ~ #overlay {
  display: block;
}

.red-h2 {
  color: #ca5c43;
}

.light-h2 {
  color: #e9edf2;
}

h3 {
  font-family: oswald, sans-serif;
  color: #3a4754;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: normal;
}

.paragraph-wrapper {
  margin: 1rem 0;
}

.paragraph-wrapper p {
  margin: 0;
}

.split-wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.split-80 {
  position: relative;
  width: 80%;
}

.split-70 {
  position: relative;
  width: 70%;
}

.split-60 {
  position: relative;
  width: 60%;
}

.split-50 {
  position: relative;
  width: 50%;
}

.split-40 {
  position: relative;
  width: 40%;
}

.split-30 {
  position: relative;
  width: 30%;
}

.split-20 {
  position: relative;
  width: 20%;
}

.helvetica-smal-headding {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

main {
  flex: 1 1 auto;
}

.background {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  height: 700px;
  width: 100%;
}
.fixed-background-wrapper {
  position: relative;
}

.fixed-background {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  position: fixed;
  height: 100%;
  width: 100vw;
}

.main-contentbox {
  position: relative;
  margin: 0 auto;
  width: 80vw;
}

.main-contentbox > h1 {
  padding-top: 25px;
}

.grey-card {
  margin: 50px 0;
  padding: 75px;
  background-color: #e9edf2;
}

.story-text {
  margin: 0;
  column-count: 2;
  column-gap: 50px;
  column-width: 50px;
  max-width: 500px;
}

.story-text > p:first-child {
  margin: 0;
}

.story-text .links {
  margin-top: 40px;
}

.story-text .links a {
  display: block;
  margin: 10px 0;
}

input {
  font-size: 1.5rem;
  color: #3a4754;
  background-color: white;
  border: none;
  height: 3rem;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 10px;
}

input:focus,
input:hover {
  border-radius: 0;
  border: 1px solid #ca5c43;
  outline: none;
}

.smal-blue-text,
label,
#shipping-address p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #a1b2c3;
}

aside {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #a1b2c3;
}

.logo {
  max-width: 125px;
}

.icon {
  display: inline-block;
}

.jacket-box img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.image-wrapper {
  text-align: center;
}

#instagram {
  background-color: #3a4754;
  width: 100%;
  height: 465px;
  background-image: url("../images/instagram.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: right;
  position: relative;
}

#instagram h2 {
  font-size: 3rem;
  width: 30rem;
  margin-top: 100px;
  margin-left: 40px;
}

#instagram p {
  color: #e9edf2;
  float: left;
  width: 30rem;
  margin-left: 40px;
}

#magazine {
  background-color: #a1b2c3;
  width: 100%;
  height: 550px;
}

#magazine img {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

#magazine h2 {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

#magazine p {
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  color: #3a4754;
}

#magazine h3 {
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  color: #e9edf2;
  font-weight: normal;
  margin: 10px;
}

#magazine a {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  padding: 10px;
}

.triangle-frame {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30rem;
  height: 30rem;
  overflow: hidden;
}

.triangle {
  height: 30rem;
  width: 30rem;
  position: relative;
  top: -31rem;
  left: -6rem;
  background-color: white;
}

.point-down {
  transform: skew(-30deg, 60deg) rotate(90deg);
}

.same-height {
  display: flex;
  justify-content: space-between;
}

#magazine article {
  display: flex;
  flex-direction: column;
  background-color: #3a4754;
  width: 23%;
  min-height: 355px;
}

#magazine article h3 {
  flex-grow: 1;
}

footer {
  box-sizing: border-box;
  width: 100%;
  padding: 50px 50px;
  background-color: #3a4754;
  background-image: url("../images/map.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  z-index: 1000;
  position: relative;
}

footer p {
  color: #e9edf2;
}

footer > div > div {
  display: inline-block;
}

/* OUR JACKETS*/
#filter {
  background-color: #e9edf2;
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  height: 5rem;
  box-sizing: border-box;
  margin: 30px 0;
}

#filter h2 {
  width: fit-content;
  display: inline-block;
  margin: 0;
  margin-right: 1rem;
}

#filter svg {
  width: 2.5rem;
  height: 2.5rem;
}

#filter-menu {
  display: none;
  position: absolute;
  top: 5rem;
  width: 40rem;
  padding: 10px;
  background-color: white;
  border: 1px solid #a1b2c3;
  transform: translateY(-100%);
}

#filter-menu > div {
  flex: 1;
  margin: 5px;
}

#filter-menu .jacket-sizes > label {
  background-color: #e9edf2;
  color: #3a4754;
}

#filter-menu .jacket-sizes input:checked + label,
#filter-menu .jacket-sizes > label:hover,
#filter-menu .jacket-sizes > label:focus {
  background-color: #3a4754;
  color: #e9edf2;
}

#filter-menu > div:nth-child(2) {
  min-width: 14rem;
}

#filter-menu h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: #3a4754;
  font-weight: bold;
  font-size: 1rem;
}

#filter-menu ul {
  padding: 0;
  margin: 0;
}

#filter-menu li {
  display: block;
  height: 3.5rem;
  padding: 0.5rem 0;
  box-sizing: border-box;
  line-height: 2.5rem;
}

#filter-menu li svg {
  height: 2rem;
  width: 2rem;
}

#filter-menu .collections li svg {
  width: 1rem;
}

#filter-menu label:hover svg,
#filter-menu label:focus svg,
#filter-menu input:checked ~ label svg {
  height: 2.5rem;
}

#filter-menu li path,
#filter-menu li circle {
  fill: #a1b2c3;
}

#filter-menu label:hover path,
#filter-menu label:focus path,
#filter-menu input:checked ~ label path,
#filter-menu label:hover circle,
#filter-menu label:focus circle,
#filter-menu input:checked ~ label circle {
  fill: #3a4754;
}

#filter-menu label {
  font-size: 1rem;
  color: #3a4754;
  font-weight: normal;
  text-transform: none;
}

#filter-menu label:hover,
#filter-menu label:focus,
#filter-menu input:checked ~ label {
  font-weight: bold;
}

#filter-menu label > * {
  vertical-align: middle;
}

#filter-menu-visible:checked + #filter-menu {
  display: flex;
  animation: slide-from-top 0.5s forwards;
}

@keyframes slide-from-top {
  100% {
    transform: translateY(0);
  }
}

.jacket-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px 10px;
  justify-content: center;
  align-items: start;
  margin-bottom: 40px;
}

.jacket-container > a,
.jacket-container > a > .jacket-box {
  font-style: normal;
  font-weight: normal;
}

.jacket-container .jacket-box {
  background-color: #e9edf2;
}

.jacket-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%;
  object-fit: contain;
}

.jacket-box div {
  padding: 10px;
}

.jacket-box p {
  font-family: Helvetica, Arial, sans-serif;
  color: #707070;
  font-size: 1rem;
}

.jacket-box .price {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #3a4754;
  font-size: 1.3rem;
}

.jacket-box .add-to-cart-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.jacket-chekout-info {
  color: #3a4754;
}

.jacket-options-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.jacket-options-grid label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
  color: #3a4754;
}

/* JACKET */
.underline {
  border-bottom: 1px solid #a1b2c3;
  padding-bottom: 10px;
}

.active {
  border-bottom: 2px solid #ca5c43;
}

.info-headders {
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #3a4754;
  font-size: 1.3rem;
}

.jacket-colors > label {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  margin: 5px 10px;
}

.jacket-colors > label > svg {
  vertical-align: middle;
  height: 0.9rem;
}

.jacket-colors > label > span {
  vertical-align: middle;
}

.jacket-colors input:checked + label,
.jacket-colors > label:hover {
  color: #3a4754;
}

.jacket-colors input:checked + label > svg,
.jacket-colors > label:hover > svg {
  height: 1.2rem;
}

.jacket-sizes > label {
  display: inline-block;
  background-color: white;
  padding-top: 0.7rem;
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
  color: #3a4754;
}

.jacket-sizes input:checked + label,
.jacket-sizes > label:hover {
  background-color: #3a4754;
  color: white;
}

.add-to-cart-button {
  display: flex;
  width: 100%;
  height: 3rem;
  margin: 15px 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  background-color: #a1b2c3;
  box-shadow: 3px 3px 6px #0000004d;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus {
  border: 1px solid #3a4754;
  background-color: #e9edf2;
  outline: none;
}

.add-to-cart-button > span:first-child {
  flex: 1;
  color: white;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.9rem;
}

.add-to-cart-button:hover > span:first-child,
.add-to-cart-button:focus > span:first-child {
  color: #3a4754;
}

.add-to-cart-button .cart-wrapper {
  position: relative;
  flex-basis: 5rem;
  height: 100%;
  overflow: hidden;
}

.add-to-cart-button .cart-background-color {
  position: absolute;
  display: block;
  background-color: #3a4754;
  width: 7rem;
  height: 7rem;
  top: -6rem;
}

.add-to-cart-button svg {
  position: relative;
  float: right;
  height: 1.5rem;
  margin: 0.7rem;
}

.add-to-cart-button svg > path {
  fill: white;
}

.add-to-cart-button.big {
  height: 8rem;
  background-color: #3a4754;
}

.add-to-cart-button.big:hover,
.add-to-cart-button.big:focus {
  border: 1px solid #3a4754;
  background-color: #e9edf2;
  outline: none;
}

.add-to-cart-button.big > span:first-child {
  color: #e9edf2;
  font-size: 2rem;
  text-align: left;
  padding: 1.8rem;
  font-weight: bold;
}

.add-to-cart-button.big > span:first-child > span {
  width: 20rem;
}

.add-to-cart-button.big:hover span:first-child,
.add-to-cart-button.big:focus span:first-child {
  color: #3a4754;
}

.add-to-cart-button.big .cart-wrapper {
  flex-basis: 10rem;
}

.add-to-cart-button.big .cart-background-color {
  background-color: #a1b2c3;
  width: 11rem;
  height: 11rem;
  top: -8rem;
}

.add-to-cart-button.big svg {
  height: 4.5rem;
  margin: 1rem;
}

/* CONTACT */
#contactPage {
  background-image: url("../images/mapBig.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 150px;
  height: 500px;
  width: 100%;
}

.contact-text {
  max-width: 300px;
}

/* INDEX STYLE */
#welcome {
  background-image: url("../images/friendsOnAdventure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}

#welcome h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: #ca5c43;
  text-transform: uppercase;
  font-size: 2.75rem;
  font-weight: bold;
  margin: 100px 50px 0 0;
}

#welcome p {
  font-size: 1.6rem;
  color: #3a4754;
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  margin-right: 50px;
}

#bestsellers {
  background-color: #e9edf2;
  width: 100%;
  height: 600px;
}

#bestsellers .jacket-box {
  background-color: white;
  display: inline-block;
  margin: 5px;
}

#bestsellers .jacket-box > div {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.jacket-slider {
  grid-template-columns: auto auto auto auto;
}

#takeALook {
  background-color: #3a4754;
  width: 100%;
  height: 440px;
}

#takeALook img {
  position: absolute;
  height: 442px;
  width: auto;
}

#takeALook h2 {
  color: #ca5c43;
  position: relative;
  float: right;
  font-size: 3rem;
  width: 30rem;
  margin-top: 160px;
  margin-right: 20px;
}

/*ABOUT*/
#whoWeAre a {
  text-decoration: none;
}

#whoWeAre ul {
  list-style-type: none;
  position: absolute;
  right: 445px;
  top: 360px;
}

#whoWeAre {
  background-image: url("../images/who-we-are.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  height: 500px;
  width: 100%;
}

#slogan {
  font-family: oswald, sans-serif;
  font-size: 1.4rem;
  color: #ca5c43;
  text-transform: uppercase;
  position: absolute;
  top: 270px;
  right: 10px;
}

#ourHistory {
  background-color: #3a4754;
  width: 100%;
  background-image: url("../images/mountains.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: left;
}

#ourHistory .section-content {
  float: right;
}

#ourHistory img {
  object-fit: cover;
}

#ourHistory p {
  color: #e9edf2;
}

#ourValuesAndVision {
  background-color: #e9edf2;
  width: 100%;
}

.triangle-frame-dark {
  position: absolute;
  bottom: 0px;
  right: 11rem;
  width: 40rem;
  height: 100%;
  overflow: hidden;
}

.triangle-dark {
  position: absolute;
  height: 40rem;
  width: 41rem;
  top: 35rem;
  left: 8rem;
  background-color: #3a4754;
}
.triangle-frame-blue {
  position: absolute;
  right: 0rem;
  transform: translate(-50%, 0);
  width: 20rem;
  height: 100%;
  overflow: hidden;
}

.triangle-blue {
  position: absolute;
  height: 25rem;
  width: 25rem;
  top: -30rem;
  left: -8rem;
  background-color: #a1b2c3;
}

.slogan p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#sloganMotivate {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 15rem;
}

#sloganMotivate p {
  color: #ca5c43;
}

#sloganMotivate p span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

#sloganFreedom {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 11rem;
}

#sloganFreedom p {
  color: #3a4754;
  font-size: 1rem;
}

#sloganFreedom p span {
  font-weight: bold;
}

#sloganSolid {
  position: absolute;
  top: 12rem;
  right: 0rem;
  width: 17rem;
}

#sloganSolid p {
  color: #3a4754;
  text-align: left;
  font-size: 1rem;
}

#sloganSolid p span {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
}

/*CHECKOUT*/
#cart {
  background-color: white;
  min-width: 300px;
  padding: 20px;
  text-align: center;
  box-shadow: -3px 3px 6px #0000004d;
}

#cart ul,
#cart-overlay ul {
  margin: 0;
  border: 1px solid #a1b2c3;
  border-width: 1px 0;
}

#cart li {
  display: block;
  text-align: left;
}

.payment-overview p {
  font-family: Helvetica, Arial, sans-serif;
  color: #3a4754;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.payment-overview > div {
  border: 1px solid #a1b2c3;
  border-width: 1px 0 0 0;
}

#doubble-line {
  border: 1px solid #a1b2c3;
  border-width: 1px 0;
  height: 2px;
  width: 100%;
}

.checkout-form {
  width: 50%;
}

.input-with-label-wrapper {
  width: 30rem;
}

.shorter {
  width: 20rem;
}

.input-with-label-wrapper label {
  position: absolute;
  margin: 3px 10px;
}

.input-with-label-wrapper input {
  padding: 1rem 10px 0;
  width: 100%;
}

.circle {
  background-color: #a1b2c3;
  color: #3a4754;
  padding: 0.3rem 0.7rem;
  border-radius: 50%;
  border: 0px;
}

.circle:hover,
.circle:focus {
  background-color: #3a4754;
  color: #a1b2c3;
}

.one-liner > * {
  display: inline-block;
}
